:root {
    --dark-blue: #010006;
    --strong-green:#b03d74;
    --green: #fb92b3;
    --light-green: #ffdae7;
    --red: #e92929;
    --white: white;
    --light-white: #fb92b3;
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-theme-variables {
    --white: #3a4555;
    --color-white: #202528;
    --dark-blue: white;
    --color-dark-variant: #a3bdcc;
    --strong-green: #3a4555;
    --green: #596370;
    --light-white: #f1f1f1;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--strong-green);
}

.button.new {
    display:inline-block;
    margin-bottom: 0.8rem;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    background: var(--green);
    border-radius: 0.75rem;
    cursor: pointer;
}

button:hover {
background: var(--light-green);
}

.button.cancel {
color: var(--light-white);
border: 2px rgb(71, 43, 57) solid;
border-radius: 0.75rem;
height: 50px;
display:flex;
align-items: center;
justify-content: center;
opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: var(--white);
    font-family: 'poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0);
    white-space: nowrap;
    border-width: 0;
}

header {
    background-color: var(--strong-green);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

.theme-toggler {
    background: rgba(132, 139, 200, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 6px;
}

.theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggler span.active {
    background: transparent;
    color: white;
    border-radius: 6px;
}

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

#data-table {
    
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
    
}

#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

table th {
    background: var(--white);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;

    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;

}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;

}


table td {
    background: white;
    padding: 1rem 2rem;
    

}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: white;
    padding: 1rem;
}

.description {
    color: #010006;
}

.income {
    color: #12a454;
}

.expense {
    color: #e92929;
}

.card {
    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    color: var(--dark-blue);
    box-shadow: none;
    transition: all 300ms ease;
}

.card:hover {
    
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}



.card h3 {
    font-weight: normal;
    font-size: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background: var(--green);
    color: white;

}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
background: var(--white);
padding: 2.4rem;
position: relative;
z-index: 1;
}

#form {
max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border:none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
    
   
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}


/* Responsive ================= */

@media (min-width: 800px) {

    html {
        font-size: 87.5%;

    }
    
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.0rem;
        
        

    }

}